@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
li a{
    text-decoration: none;
    color: #D6000D;

}

header{
    padding: 20px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.logo a{
    color: #D6000D;
    font-size: 2.5rem;
}

.logo a{
    text-decoration: none;
    list-style-type: none;
}


.menu ul li{
    display: inline-block;
    padding: 10px;
    list-style-type: none;
}

.login{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background-color: #D6000D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s ease;
}

.login:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);

}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.img_video{
    margin-left: 50px;
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: center;
}

.video_call{
    width: 70%;
    
}

.conteudo{
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 100px;
    color: #eee;
}

.conteudo p{
    font-weight: 700;
    font-size: 1.2rem;
    color: #000;
}

.conteudo h1{
    color: #D6000D;
    font-size: 2.5rem;
}

.orcamento  {
    cursor: pointer;
    margin-top: 20px;
    background-color: #D6000D;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    color: #eee;
    transition: 0.5s ease;

}
.orcamento:hover{
    background-color:#D6000D;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.main2{
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.checkbox{
    margin-left: 50px;
    padding: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.escrita{
    padding: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.conteudo_escrito{
    margin-left: 50px;
    width: 50%;
    display: flex;
}

.img_coding{
    width: 500px;
    height: 500px;

}

.img_coding img{
    width: 500px;
    height: 500px;
}

.contato{
    margin-left: 100px;
}

.contato p{
    font-size: 1.2rem;
    font-weight: 700;
}

.input{
    padding: 10px;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #ddd;
    transition: 0.5s ease;
}

.input:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);

}

.main3{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sobrenos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    width: 40%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.texto{
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.texto h3{
    margin-top: 20px;
}
.image{
    border-radius: 50%;
    margin-left: 50px;
    padding: 50px;
    background-color: #D6000D;

}

.footer{
    width: 100%;
    height: 20vh;
    background-color: rgba(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #eee;
}

.codar{
    margin-bottom: 80px;
}

.codar h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

.sobre{
    margin-bottom: 60px;
}

.sobre h4{
    margin-bottom: 20px;
}

.contato h4{
    margin-bottom: 20px;
}

.contato p{
    margin-bottom: 10px;
}

.redesSociais{
    margin-bottom: 80px;
}

.redesSociais h4{
    display: flex;
}

.redes{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}
